<!DOCTYPE html>
<html>
    <head>
        <title>Contacts</title>
        <meta name="description" content="This site is for a web services class learner API. Author: Joshua Sooaemalelagi">
    </head>

    <body>
        <h1>CSE 341 Webservices</h1>
        <h2>Joshua Sooaemalelagi</h2>

        <h3>Fitness API</h3>
        <form action="/api-docs">
            <button type="submit">API Docs</button>
        </form>
</body>
</html>
